p{
    color:darkred;
    background-color: gray;
}
a{
    color:black;
    padding: auto;
    width: 20%;
    background-color: gray;
}
h1{
    color:black;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: auto;
    background-color:darkslategray;
}
b{
    background-color: gray;
}