p{
    color:blueviolet;
}
a{
    color:black;
    padding: auto;
    width: 20%;
}
h1{
    color:black;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: #f4f4f4;
}